* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #18191a;
    font-family: "Montserrat", sans-serif;
    height: 1000vh;
}

nav .search,
nav .search:focus {
    background: #242526;
    border-color: #747474;
    color: #fff;
}

.user_avatar_nav {
    cursor: pointer;
    padding: 2px;
    transition: 0.2s ease-in-out;
    user-select: none;
}

.user_avatar_nav:hover {
    background: rgb(234, 234, 234);
}

/* Login & Register */

.card {
    background-color: #242526 !important;
    color: #fff !important;
}
input,
input:focus,
textarea,
select {
    background: #242526 !important;
    border-color: #747474 !important;
    color: #fff !important;
}

/* ----------------------- */

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;
}

.project {
    width: 400px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 7px rgb(48 48 48 / 39%);
}

.project:hover {
    box-shadow: 0 0 5px rgba(132, 132, 132, 0.5), 0 0 15px rgba(95, 95, 95, 0.5);
}

.projects .project .img_box {
    width: 400px;
    height: 320px;
}

.projects .project .img_box img {
    width: 100%;
    height: 100%;
}
.projects .content {
    background-color: #242526;
}

.projects .content p {
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
}

.progress {
    height: 0.5rem;
}

.project_details .info span {
    color: #2980b9;
    font-size: 1rem;
}

/* Project Description */

.project_desc .img_box {
    height: 550px;
}

.project_desc .img_box img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.user .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    padding: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

nav {
    z-index: 10000;
}

nav .user .avatar {
    width: 40px;
    height: 40px;
}

.project_desc .custom_campaign .set_money {
    width: 80px !important;
    padding-left: 1rem !important;
}

.project_desc .comments .user .avatar {
    width: 50px;
    height: 50px;
}

/* aside */

aside {
    position: fixed;
    height: 100vh;
}

aside li {
    margin-top: 1em;
    padding-left: 10px;
}

aside li a {
    text-decoration: none;
}

.main-wrapper .container {
    position: relative;
    /* left: 100px; */
    margin-top: 50px;
}

/* User Comments  */

.users_comments .user .user_comment {
    background: #3a3b3c !important;
    border-radius: 18px !important;
}

/* -------------------------- */

/* Override Bootstrap Styles */

.table-light {
    --bs-table-bg: #242526 !important;
    --bs-table-striped-bg: #242526 !important;
    --bs-table-striped-color: #242526 !important;
    --bs-table-active-bg: #242526 !important;
    --bs-table-active-color: #242526 !important;
    --bs-table-hover-bg: #242526 !important;
    --bs-table-hover-color: #242526 !important;
    color: #fff !important;
    border-color: #242526 !important;
}
