<main>
    <div
        class="d-flex flex-column flex-shrink-0 bg-light"
        style="width: 4.5rem"
    >
        <a
            href="/"
            class="d-block p-3 link-dark text-decoration-none"
            title="Icon-only"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
        >
            <svg class="bi" width="40" height="32">
                <use xlink:href="#Crowd_Funding" />
            </svg>
            <span class="visually-hidden">Icon-only</span>
        </a>
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                <a
                    href="{% url 'list_project' %}"
                    class="nav-link active py-3 border-bottom"
                    aria-current="page"
                    title="Projects"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                >
                    <em class="fa-solid fa-sheet-plastic"></em>
                </a>
            </li>
            <li>
                <a
                    href="{% url 'list_users' %}"
                    class="nav-link py-3 border-bottom"
                    title="Users"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                >
                    <em class="fa-solid fa-users"></em>
                </a>
            </li>
            <li>
                <a
                    href="{% url 'list_category' %}"
                    class="nav-link py-3 border-bottom"
                    title="Categories"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                >
                    <em class="fa-solid fa-layer-group"></em>
                </a>
            </li>
            <li>
                <a
                    href="{% url 'list_tags' %}"
                    class="nav-link py-3 border-bottom"
                    title="Tags"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                >
                    <em class="fa-solid fa-tags"></em>
                </a>
            </li>
            <li>
                <a
                    href="#"
                    class="nav-link py-3 border-bottom"
                    title="Comments"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                >
                    <em class="fa-solid fa-comments"></em>
                </a>
            </li>
            <li>
                <a
                    href="{% url 'projects_reports' %}"
                    class="nav-link py-3 border-bottom"
                    title="Project Reports"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                >
                    <em class="fa-solid fa-flag"></em>
                </a>
            </li>
            <li>
                <a
                    href="{% url 'projects_comment_reports' %}"
                    class="nav-link py-3 border-bottom"
                    title="Project Comments Report"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                >
                    <em class="fa-solid fa-comment-slash"></em>
                </a>
            </li>
            <li>
                <a
                    href="{% url 'projects_donations' %}"
                    class="nav-link py-3 border-bottom"
                    title="Project Donations"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                >
                    <em class="fa-solid fa-hand-holding-dollar"></em>
                </a>
            </li>
        </ul>
    </div>

    <div class="b-example-divider"></div>
</main>
