<aside>
  <ul class="list-unstyled">
    <li>
      <i class="fa-solid fa-sheet-plastic"></i>
      <a href={% url 'list_project' %}>List Projects</a>
    </li>
    <li>
      <i class="fa-solid fa-users"></i>
      <a href={% url 'list_users' %}>List Users</a>
    </li>
    <li>
      <i class="fa-solid fa-layer-group"></i>
      <a href={% url 'create_category' %}>Add Category</a>
    </li>
    <li>
        <i class="fa-solid fa-layer-group"></i>
      <a href={% url 'list_category' %}>List Category</a>
    </li>
    <li>
      <i class="fa-solid fa-tags"></i>
      <a href={% url 'list_tags' %}>List Tags</a>
    </li>
    <li>
      <i class="fa-solid fa-comments"></i>
      <a href="#">Comments</a>
    </li>
    <li>
      <i class="fa-solid fa-flag"></i>
      <a href={% url 'projects_reports' %}>List Projects Reports</a>
    </li>
    <li>
      <i class="fa-solid fa-comment-slash"></i>
      <a href={% url 'projects_comment_reports' %}>List Comments Reports</a>
    </li>
    <li>
      <i class="fa-solid fa-hand-holding-dollar"></i>
      <a href={% url 'projects_donations' %}>List Projects Donations</a>
    </li>
  </ul>
</aside>
