<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            a {
                background: #333;
                color: #fff;
                padding: 5px 10px;
                border-radius: 15px;
                transition: all 0.3s ease-in-out;
                text-decoration: none;
            }
            a:hover {
                background: #444;
                box-shadow: 0 0 15px rgba(46, 46, 46, 0.5);
            }
        </style>
    </head>
    <body>
        Hi {{ user.username }}, Please click on the link to confirm your
        registration,
        <a
            href="http://{{ domain }}{% url 'activate' uidb64=uid token=token  %}"
            >Activate Now</a
        >
    </body>
</html>
