{% extends 'layouts/base.html' %}
<!-- prettier-ignore-->
{% load crispy_forms_tags %}
{% block content %}
<div class="login m-auto d-flex flex-column align-items-center mt-5">
    
    <div class="card bg-glass">
        <div class="card-body px-4 py-5 px-md-5">
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">{{form.old_password|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col-12">{{form.new_password1|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col-12">{{form.new_password2|as_crispy_field}}</div>
        </div>
        <button type="submit" class="btn btn-info">Change Password</button>
    </form>
    <div class="mt-4">
        <a class="text-decoration-none" href="/password_reset"
            >Forget Password ?</a
        >
    </div>
</div>
</div>
</div>
{% endblock %}
