{% extends 'layouts/base.html' %}
<!-- prettier-ignore-->
{% load crispy_forms_tags %}
{% block content %}
<div class="login m-auto d-flex flex-column align-items-center mt-5">
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">{{form.new_password1|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col-12">{{form.new_password2|as_crispy_field}}</div>
        </div>
        <button type="submit" class="btn btn-info">Change Password</button>
    </form>
</div>
{% endblock %}
