<!-- Modal -->
<div
    class="modal fade my-5"
    id="{{delete_modal_title}}{{delete_modal_id}}"
    tabindex="-1"
    aria-labelledby="{{delete_modal_title}}{{delete_modal_id}}Label"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5
                    class="modal-title text-danger"
                    id="{{delete_modal_title}}{{delete_modal_id}}Label"
                >
                    Delete Comment😥
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <p class="text-dark">Are you sure you want to delete the comment?</p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>

                <form
                    method="post"
                    action="{% url 'delete_comment'  comment.id %}"
                >
                    {% csrf_token %}
                    <input
                        type="hidden"
                        name="project_id"
                        value="{{project_id}}"
                    />
                    <input
                        type="submit"
                        class="btn btn-danger"
                        value="Confirm"
                    />
                </form>
            </div>
        </div>
    </div>
</div>
