{% extends 'layouts/base.html' %}
{% block content %}
<div class="d-flex flex-column justify-content-start align-items-center my-5">
    <h3 class="my-4 text-light">My Donations</h3>
  
    <table class="table table-responsive-md  cell-border compact stripe table-dark my-4 text-center">
    <thead>
        <th>Project</th>
        <th>Donation Mount</th>
    </thead>
    <tbody>
        {% for donation in donations%}
            <tr>
                <td>
                    <a  href="{% url   'project' donation.project.id  %}"class="text-decoration-none">
                        {{donation.project.title}}
                    </a>
                </td>
                <td>
                        ${{donation.donation_amount}}
                </td>
            </tr>
            {% empty %}
            <h4 class="text-center w-100"> No Donations </h4>
        {% endfor %}  
    </tbody>
</table>
</div>

{% endblock %}