{% extends 'layouts/base.html' %} {% block content %} {% load static %}
<div class="projects mt-5">
    <div class="project" data-id="1">
        <div class="img_box">
            <img
                class="mw-100"
                src="https://images.unsplash.com/photo-1541976844346-f18aeac57b06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
                alt=""
            />
        </div>
        <div class="content bg-light p-3">
            <h4 class="text-muted fs-6 fw-normal">category</h4>
            <h3 class="title p-1">Let's Move Mountains For This.</h3>
            <div class="project_details">
                <p class="raised_info">
                    <span class="fw-bold">$2,000 Raised</span> from
                    <span class="fw-bold">$6,000 Goal</span>
                </p>
                <div class="progress">
                    <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    ></div>
                </div>

                <hr class="opacity-25" />

                <div class="info">
                    <div class="row">
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">30</span>
                                <span class="d-block">Days Remain</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">10</span>
                                <span class="d-block">Backers</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">50%</span>
                                <span class="d-block">Funded</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project" data-id="1">
        <div class="img_box">
            <img
                class="mw-100"
                src="https://images.unsplash.com/photo-1541976844346-f18aeac57b06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
                alt=""
            />
        </div>
        <div class="content bg-light p-3">
            <h4 class="text-muted fs-6 fw-normal">category</h4>
            <h3 class="title p-1">Let's Move Mountains For This.</h3>
            <div class="project_details">
                <p class="raised_info">
                    <span class="fw-bold">$2,000 Raised</span> from
                    <span class="fw-bold">$6,000 Goal</span>
                </p>
                <div class="progress">
                    <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    ></div>
                </div>

                <hr class="opacity-25" />

                <div class="info">
                    <div class="row">
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">30</span>
                                <span class="d-block">Days Remain</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">10</span>
                                <span class="d-block">Backers</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">50%</span>
                                <span class="d-block">Funded</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project" data-id="1">
        <div class="img_box">
            <img
                class="mw-100"
                src="https://images.unsplash.com/photo-1541976844346-f18aeac57b06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
                alt=""
            />
        </div>
        <div class="content bg-light p-3">
            <h4 class="text-muted fs-6 fw-normal">category</h4>
            <h3 class="title p-1">Let's Move Mountains For This.</h3>
            <div class="project_details">
                <p class="raised_info">
                    <span class="fw-bold">$2,000 Raised</span> from
                    <span class="fw-bold">$6,000 Goal</span>
                </p>
                <div class="progress">
                    <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    ></div>
                </div>

                <hr class="opacity-25" />

                <div class="info">
                    <div class="row">
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">30</span>
                                <span class="d-block">Days Remain</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">10</span>
                                <span class="d-block">Backers</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">50%</span>
                                <span class="d-block">Funded</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project" data-id="1">
        <div class="img_box">
            <img
                class="mw-100"
                src="https://images.unsplash.com/photo-1541976844346-f18aeac57b06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
                alt=""
            />
        </div>
        <div class="content bg-light p-3">
            <h4 class="text-muted fs-6 fw-normal">category</h4>
            <h3 class="title p-1">Let's Move Mountains For This.</h3>
            <div class="project_details">
                <p class="raised_info">
                    <span class="fw-bold">$2,000 Raised</span> from
                    <span class="fw-bold">$6,000 Goal</span>
                </p>
                <div class="progress">
                    <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    ></div>
                </div>

                <hr class="opacity-25" />

                <div class="info">
                    <div class="row">
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">30</span>
                                <span class="d-block">Days Remain</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">10</span>
                                <span class="d-block">Backers</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">50%</span>
                                <span class="d-block">Funded</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project" data-id="1">
        <div class="img_box">
            <img
                class="mw-100"
                src="https://images.unsplash.com/photo-1541976844346-f18aeac57b06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
                alt=""
            />
        </div>
        <div class="content bg-light p-3">
            <h4 class="text-muted fs-6 fw-normal">category</h4>
            <h3 class="title p-1">Let's Move Mountains For This.</h3>
            <div class="project_details">
                <p class="raised_info">
                    <span class="fw-bold">$2,000 Raised</span> from
                    <span class="fw-bold">$6,000 Goal</span>
                </p>
                <div class="progress">
                    <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    ></div>
                </div>

                <hr class="opacity-25" />

                <div class="info">
                    <div class="row">
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">30</span>
                                <span class="d-block">Days Remain</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">10</span>
                                <span class="d-block">Backers</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">50%</span>
                                <span class="d-block">Funded</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project" data-id="1">
        <div class="img_box">
            <img
                class="mw-100"
                src="https://images.unsplash.com/photo-1541976844346-f18aeac57b06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
                alt=""
            />
        </div>
        <div class="content bg-light p-3">
            <h4 class="text-muted fs-6 fw-normal">category</h4>
            <h3 class="title p-1">Let's Move Mountains For This.</h3>
            <div class="project_details">
                <p class="raised_info">
                    <span class="fw-bold">$2,000 Raised</span> from
                    <span class="fw-bold">$6,000 Goal</span>
                </p>
                <div class="progress">
                    <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    ></div>
                </div>

                <hr class="opacity-25" />

                <div class="info">
                    <div class="row">
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">30</span>
                                <span class="d-block">Days Remain</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">10</span>
                                <span class="d-block">Backers</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">50%</span>
                                <span class="d-block">Funded</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script %}
<script src="{% static 'projects/js/script.js' %}"></script>
{% endblock %}
