{% extends 'projects/base.html' %} {% block content %}

<div class="projects mt-5">
    <div class="project">
        <div class="img_box w-50 rounded-circle rounded-3">
            <img
                class="mw-100"
                src="https://images.freeimages.com/images/large-previews/db4/disturbing-water-1180557.jpg"
                alt=""
            />
            <div class="content">content</div>
            <div class="comments"></div>
        </div>
    </div>
</div>

{% endblock %}
