{% extends 'layouts/base.html' %}
{% load static %}
{% load my_filters %}
{% load crispy_forms_tags %}

{% block content %}

<div class="project_desc mt-5">
    <div class="row d-flex align-items-center">
        <div class="col-6">
            
                    <div id="carouselExampleIndicators" class="carousel slide img_box" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                        {% for img in images %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" {% if forloop.counter0 == 0 %} class="active" aria-current="true" {% endif %} aria-label="Slide{{forloop.counter0}}"></button>
                        {% endfor %}
                
                        </div>
                        <div class="carousel-inner img_box">
                            {% for img in images %}
                          <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}" data-interval="50">
                            <img src="{{img.image.url}}" class="d-block mw-100" alt="...">
                          </div>
                          {% empty %}
                          <img src="{{MEDIA_URL}}/projects/images/default.jpg" class="d-block"/>
                          {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    
        </div>
        <div class="col-6">
            <h4 class="text-muted fs-6 fw-normal">{{project.category}}</h4>
            <h3 class="title p-1">{{project.title}}</h3>
            <div class="rates my-3">
                <em class="fa-solid fa-star text-warning"></em>
                <em class="fa-solid fa-star text-warning"></em>
                <em class="fa-solid fa-star text-warning"></em>
                <em class="fa-solid fa-star text-warning"></em>
                <em class="fa-regular fa-star"></em>
            </div>
            <div class="user d-flex align-items-center">
                <div class="user_avatar">
                    <img
                        src="{{user.avatar.url}}"
                        class="avatar"
                        alt="{{user.name}}"
                    />
                </div>
                <div class="user_info ms-3">
                    <span class="fs-4">{{user}}</span>
                    <span class="d-block">{{num_of_Projects}} Campaigns</span>
                </div>
            </div>
            <div class="project_info mt-5">
                <div class="info">
                    <div class="row">
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">{{ donation_amount|currency }}</span>
                                <span class="d-block">Pledged</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">{{donators}}</span>
                                <span class="d-block">Backers</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">{{project.end_time|timeuntil}}</span>
                                <span class="d-block">Remaining</span>
                            </p>
                        </div>
                    </div>
                </div>

                <hr class="opacity-25" />

                <div class="progress_box mt-3">
                    <div
                        class="progress_info mb-1 d-flex justify-content-between"
                    >
                        <span>Raised: </span>
                        <span>{{ donation_amount | as_percentage_of:project.total_target }}%</span>
                    </div>
                    <div class="progress">
                        <div
                            class="progress-bar bg-info"
                            role="progressbar"
                            style="width: {{ donation_amount | as_percentage_of:project.total_target }}%"
                            aria-valuenow="{{ donation_amount | as_percentage_of:project.total_target }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                    <div class="goal mt-1">
                        <span class="fw-bold">Goal: </span>
                        
                        <span>{{project.total_target|currency }}</span>

                        

                    </div>
                </div>
            </div>

            <div class="back_campaign mt-4">
                <div class="generic_campaign">
                    <button
                        class="btn btn-secondary bg-transparent text-dark rounded-pill px-3 py-2"
                    >
                        $10
                    </button>
                    <button
                        class="btn btn-secondary bg-transparent text-dark rounded-pill px-3 py-2"
                    >
                        $30
                    </button>
                    <button
                        class="btn btn-secondary bg-transparent text-dark rounded-pill px-3 py-2"
                    >
                        $50
                    </button>
                    <button
                        class="btn btn-secondary bg-transparent text-dark rounded-pill px-3 py-2"
                    >
                        $100
                    </button>
                </div>
                <div class="custom_campaign mt-4">
                    <form>
                        <span>$</span>
                        <input
                            type="text"
                            class="form-control d-inline-block w-25 rounded-pill p-2 set_money"
                            value="10"
                        />
                        <input
                            type="submit"
                            value="Back Campaign"
                            class="btn btn-success rounded-pill p-2"
                        />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="desc my-4">
        <h3>Description</h3>
        <p>
            {{project.details}}
        </p>
    </div>
        <div id="comments" class="comments my-4">
            <h3>Comments</h3>
            <div class="user d-flex mt-3">
                <div class="user_avatar">
                    <img
                        src="{{MEDIA_URL}}{{user.avatar}}"
                        class="avatar"
                        alt="Jean"
                    />
                </div>
                <div class="user_info ms-3 w-100">
                    <form method="POST" action="/projects/{{project.id}}/comment_create">
                        {% csrf_token %}
                        <input type="text" class="form-control" name="comment"/>
                        <input type="hidden" name="project" value="{{project.id}}" />
                        <div class="text-end mt-2">
                            <input
                                type="submit"
                                value="Add Comment"
                                class="btn btn-secondary rounded-3"
                            />
                        </div>
                    </form>
                </div>
            </div>

        <hr class="opacity-25" />

        <!-- ------Comments -------- -->
        {% for comment in comments %}
        <div class="users_comments mt-4 bg-light rounded shadow-sm py-2 px-3 ">
            <div class="user d-flex mt-3 d-flex justify-content-between">
                <div class="user_avatar">
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" title={{comment.user.username}}>
                        <img
                            src={{comment.user.avatar.url}}
                            class="avatar"
                            alt="Jean"
                        />
                    </span>
                </div>
                <div class="user_info ms-3 w-100 d-flex justify-content-between">
                    <p>{{comment.comment}}</p>
                    {% if user.id == comment.user_id %}
                        <div>
                            <a class="text-warning border-0 "  href="{% url   'comment'  comment.id %}"><em class="fa-solid fa-pen-to-square"></em></a>
                            <a class="text-danger border-0 mx-2" href="{% url   'delete_comment'  comment.id %}"><em class="fa-solid fa-trash-can"></em></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
            <h4 class="text-center w-100"> No comments </h4>
        {% endfor %}
    </div>
</div>
{% endblock %}
