{% extends 'layouts/base.html' %}
{% load static %}
{% load my_filters %}
{% load crispy_forms_tags %}
{% block content %}
{% if not project_user.email %}
<meta http-equiv="REFRESH" content="0;url='/'" />
{% endif %}

<link rel="stylesheet" href="{% static 'projects/css/new.css' %}" />
<div class="d-flex flex-column align-items-center justify-content-between">
<div class="card d-inline-block w-75 my-4" style="background-color: #242526 ;">
    <div class="card-body px-4  px-md-4">
<div class="project_desc mt-5 text-light">
    <div class="row d-flex align-items-center">
        <div class="col-md-12 col-lg-6 mb-md-4 mb-lg-0">
                    <div id="carouselExampleIndicators" class="carousel slide img_box" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                        {% for img in images %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" {% if forloop.counter0 == 0 %} class="active" aria-current="true" {% endif %} aria-label="Slide{{forloop.counter0}}"></button>
                        {% endfor %}
                        </div>
                        <div class="carousel-inner img_box">
                            {% for img in images %}
                          <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}" data-interval="50">
                            <img src="{{img.image.url}}" class="d-block" alt="..." >
                          </div>
                          {% empty %}
                          <img src="{{MEDIA_URL}}/projects/images/default.jpg" class="d-block"/>
                          {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>        
        </div> 
        <div class="col-md-12 col-lg-6">
            <h4 class="text-muted fs-6 fw-normal">{{project.category}}</h4>
            <h3 class="title p-1">{{project.title}}</h3>
            <div class="rating-star">
                <span>
                    <i class="fa fa-star{% if project.averageReview < 0.5 %}-o{% elif project.averageReview >= 0.5 and project.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if project.averageReview < 1.5 %}-o{% elif project.averageReview >= 1.5 and project.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if project.averageReview < 2.5 %}-o{% elif project.averageReview >= 2.5 and project.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if project.averageReview < 3.5 %}-o{% elif project.averageReview >= 3.5 and project.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if project.averageReview < 4.5 %}-o{% elif project.averageReview >= 4.5 and project.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                    </span>
            </div>
<!-------------------------------------------Report------------------------------------------------------->
{% if user.is_authenticated %}
 
{% if project.user.id != user.id %}
            <a data-bs-toggle="modal" data-bs-target="#reportProject{{project.id}}" class="btn btn-danger rounded-pill p-2 my-3" href="{% url   'report_project'  project.id %}">Report</a>
            {% include 'projects/reportModal.html' with report_modal_id=project.id report_modal_title='reportProject' project_id=project.id%}

            {% endif %}
            {% endif %}



            <div class="user d-flex align-items-center">
                <div class="user_avatar">
                    <img
                        src="{{project_user.avatar.url}}"
                        class="avatar"
                        alt="{{project_user.name}}"
                    />
                </div>
                
                <div class="user_info ms-3">
                    <span class="fs-4">{{project_user}}</span>
                    <span class="d-block">{{num_of_Projects}} Campaigns</span>
                </div>
            </div>
            <div class="project_info mt-5">
                <div class="info">
                    <div class="row">
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">{{ donation_amount|currency }}</span>
                                <span class="d-block">Pledged</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">{{donators}}</span>
                                <span class="d-block">Backers</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-center">
                                <span class="fw-bold">{{project.end_time|timeuntil}}</span>
                                <span class="d-block">Remaining</span>
                            </p>
                        </div>
                    </div>
                </div>

                <hr class="opacity-25" />
                <div class="progress_box mt-3">
                    <div
                        class="progress_info mb-1 d-flex justify-content-between"
                    >
                        <span>Raised: </span>
                        <span>{{ donation_amount |as_percentage_of:project.total_target }}%</span>
                    </div>
                    <div class="progress">
                        <div
                            class="progress-bar bg-info"
                            role="progressbar"
                            style="width:{{ donation_amount |as_percentage_of:project.total_target }}%"
                            aria-valuenow="{{ donation_amount |as_percentage_of:project.total_target }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                    <div class="goal mt-1">
                        <span class="fw-bold">Goal: </span>
                        <span>{{project.total_target|currency }}</span>
                    </div>
                </div>
            </div>

            <div class="back_campaign mt-4">
                <div class="generic_campaign ">
                    <button
                        class="donationBtn btn btn-secondary  text-ligth clicked rounded-pill px-3 py-2"
                    
                    >
                        $10
                    </button>
                    <button
                        class="donationBtn btn btn-secondary text-white  bg-transparent rounded-pill px-3 py-2"
                
                    >
                        $30
                    </button>
                    <button
                        class="donationBtn btn btn-secondary text-white bg-transparent rounded-pill px-3 py-2"
                    
                    >
                        $50
                    </button>
                    <button
                        class="donationBtn btn btn-secondary text-white bg-transparent rounded-pill px-3 py-2"
                    
                    >
                        $100
                    </button>
                </div>
                <div class="custom_campaign mt-4">
                    <form method="POST" action="/projects/{{project.id}}/create_donation">
                        <span>$</span>
                        {% csrf_token %}
                        <input
                            type="text" 
                            class="form-control d-inline-block w-25 rounded-pill p-2 set_money" 
                            name="donation_amount"
                            value=10
                        />
                        <input
                            type="submit"
                            value="Back Campaign"
                            class="btn btn-success rounded-pill p-2"/>


   
                        <input type="hidden" name="project" value="{{project.id}}" />

                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="desc my-4">
        <h3>Description</h3>
        <p>
            {{project.details}}
        </p>
    </div>
        <div id="comments" class="comments my-4">
            <h3>Add Comment</h3>
            {% if user.is_authenticated %}
            <div class="user  d-flex mt-3">
                <div class="user_avatar">
                    <img
                        src="{{MEDIA_URL}}{{user.avatar}}"
                        class="avatar"
                        alt="Jean"
                    />
                </div>
                <div class="user_info ms-3 w-100">
                    <form method="POST" action="/projects/{{project.id}}/comment_create">
                        {% csrf_token %}
                        <input type="text" class="form-control" name="comment" required/>
                        <input type="hidden" name="project" value="{{project.id}}" />
                        <div class="text-end mt-2">
                            <input
                                type="submit"
                                value="Add Comment"
                                class="btn btn-secondary rounded-3"
                            />
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        <hr class="opacity-25" />

        <!-- ------Comments -------- -->
        {% for comment in comments %}
        <div class="users_comments mt-4  d-flex flex-column " id="comment{{comment.id}}">
            <div class="user  mt-3 rounded shadow-sm  py-2 px-3" ">
                <div class="d-flex ">
                <div class="user_avatar">
                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" title={{comment.user.username}}>
                        <img
                            src="{{MEDIA_URL}}{{comment.user.avatar}}"
                            class="avatar"
                            alt="Jean"
                        />
                    </span>
                </div>
                <div class="ms-2 w-100 user_comment p-2">
                    <span class="fw-bold text-primary">{% firstof comment.user.first_name comment.user.username %}</span>
                    <div class="user_info w-100 d-flex justify-content-between">
                        <div class="comment text-white ms-2" data-comment_id = {{comment.id}} data-project_id = {{project.id}}>{{comment.comment}} </div>
                        <div>
                            {% if user.id == comment.user_id %}
                            <button class="text-warning border-0 edit_comment" style="background-color: #3a3b3c"><em class="fa-solid fa-pen-to-square"></em></button>
                            <a data-bs-toggle="modal" data-bs-target="#deleteComment{{comment.id}}" class="text-danger border-0 mx-2" href="{% url   'delete_comment'  comment.id %}"><em class="fa-solid fa-trash-can"></em></a>
                            {% else %}
                            <a data-bs-toggle="modal" data-bs-target="#reportComment{{comment.id}}" class="text-danger border-0 mx-2" href="{% url   'report_comment'  comment.id %}" ><em class="fa-solid  fa-ban"></em></a>
                            {% endif %}
                            <i class="fa-solid fa-reply text-primary reply_comment "role="button" title="Reply"></i>
                    </div>
                </div>

                <!-- Delete Modal -->

                {% include 'projects/deleteModal.html' with delete_modal_id=comment.id delete_modal_title='deleteComment' project_id=project.id%}
                {% include 'projects/reportCommentModal.html' with reportComment_modal_id=comment.id reportComment_modal_title='reportComment' project_id=project.id%}

                <!-- End Modal-->
            </div>
            </div>
            {% for commentReply in commentReplies %}
                {% if comment.id == commentReply.comment_id %}
                
                <div class="user d-flex mt-3 px-3">
                    <div class="user_avatar">
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" title={{comment.user.username}}>
                            <img
                                src="{{MEDIA_URL}}{{commentReply.user.avatar}}"
                                class="avatar"
                                alt="Jean"
                            />
                        </span>
                    </div>
                    <div class="ms-2 w-100 user_comment p-2">
                        <span class="fw-bold text-primary">{% firstof comment.user.first_name comment.user.username %}</span>
                        <div class="user_info w-100 d-flex justify-content-between">
                            <div class="comment ms-2" data-comment_id = {{comment.id}} data-project_id = {{project.id}}>{{commentReply.reply}}</div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <div class ="replyForm d-none py-2 w-100">
                
            </div>

        </div>
        {% empty %}
            <h4 class="text-center w-100"> No comments </h4>
        {% endfor %}


    </div>
    
 {% if user.is_authenticated %}
    {% if project.user.id != user.id %}
<div>
    <form class="my-5"  action="{% url 'submit_review' user.id  project.id %}" method="POST">
        {% csrf_token %}


        <div class="text-center">

            <!-- Rating stars -->
            {% for review in reviews %}
				<article class="box mb-3">
					<div class="icontext w-100">

						<div class="text">
                            {% if review.user.id == user.id %}
							<h6 class="mb-1">Your Last Rating</h6>
							<div class="rating-star">
								<span>
									<i class="fa fa-star{% if review.value == 0.5 %}-half-o{% elif review.value < 1 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.value == 1.5 %}-half-o{% elif review.value < 2 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.value == 2.5 %}-half-o{% elif review.value < 3 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.value == 3.5 %}-half-o{% elif review.value < 4 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.value == 4.5 %}-half-o{% elif review.value < 5 %}-o {% endif %}" aria-hidden="true"></i>
								</span>
                                <a class="text-danger border-0 mx-2" href="{% url   'delete_rate'  review.id %}" ><em class="fa-solid fa-trash-can"></em></a>

							</div>
						</div>
					</div> <!-- icontext.// -->
					
				</article>
                {% endif %}

                {% endfor %}
 
<label>New Rating:</label>

            <br>
            <div class="rate">
                <input type="radio" name="value" id="rating10" value="5" required /><label for="rating10" title="5"></label>
                <input type="radio" name="value" id="rating8" value="4" required /><label for="rating8" title="4"></label>
                <input type="radio" name="value" id="rating6" value="3" required /><label for="rating6" title="3"></label>
                <input type="radio" name="value" id="rating4" value="2" required /><label for="rating4" title="2"></label>
                <input type="radio" name="value" id="rating2" value="1" required /><label for="rating2" title="1"></label>
            </div>
            <input type="hidden" name="project" value="{{project.id}}"/>
            <input type="hidden" name="user"value="{{user.id}}"/>
        <br>

                    <input type="submit" value="Confirm Rating" class="btn btn-warning my-3 mx-2">
                
               {% endif %}


        </div>
    </form>


</div>

 {% endif %}
 

</div>
</div>

</div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'projects/js/rating.js' %}"></script>

<script>
    let editButtons = document.querySelectorAll('.users_comments .edit_comment');
    let inputDonation =document.getElementsByName("donation_amount")[0];
    let donationBtns = document.querySelectorAll(".donationBtn");
    let replyBtns =document.querySelectorAll('.reply_comment');

    editButtons.forEach(button => {
        button.addEventListener('click', e => {
            let commentControllers = e.target.parentElement.parentElement;
            let comment = commentControllers.previousElementSibling;

            commentControllers.classList.add('class', 'd-none');

            comment.setAttribute('class', 'w-100')
            // comment.classlist.add('w-100');
            let commentText = comment.textContent;
            
            comment.innerHTML = `
                <form method='POST' action = '/comments/${comment.dataset.comment_id}' class="w-100 px-2">
                    {% csrf_token %}
                <input type="text" name="comment" value='${commentText}' class="form-control" required />
                <input type="hidden" value=${comment.dataset.project_id} name="project" />
                <div class="mt-2">
                    <button type="button" onclick="cancelEditComment(event, '${commentText}')" class="btn btn-secondary">Cancel</button>
                    <input class="btn btn-success" type="submit" value="Save" />
                </div>
            `
        })
    })

    function cancelEditComment(event, commentText) {
        let commentFormEditContainer = event.target.parentElement.parentElement.parentElement;
        let commentControllers = commentFormEditContainer.nextElementSibling;

        commentFormEditContainer.innerHTML = commentText;
        commentFormEditContainer.classList.remove('w-100');
        commentControllers.classList.remove('d-none')
    }
   // --------------------------------------------------------------//
    donationBtns.forEach(donationBtn => {
        donationBtn.addEventListener("click",addDonation)
    })  
    
    function addDonation(event){
        let lastClickedBtn=document.querySelector('.clicked');
        lastClickedBtn.classList.remove("clicked")
        lastClickedBtn.classList.add("bg-transparent")
        lastClickedBtn.classList.add("text-dark")
        
        let clickedBtn=event.target;
        clickedBtn.classList.add("clicked");
        clickedBtn.classList.remove("bg-transparent");
        clickedBtn.classList.remove("text-dark");
        inputDonation.value= Number(clickedBtn.textContent.trim().slice(1));  
    }

    // --------------------------------------------------------------//
    replyBtns.forEach(replyBtn => {
        replyBtn.addEventListener('click', e => {
            let commentControllers = e.target.parentElement;
            let comment = commentControllers.previousElementSibling;
            let replyForm = commentControllers.parentElement.parentElement.parentElement.nextElementSibling;

            replyBtn.classList.add('class', 'd-none');
            replyForm.classList.remove('d-none');

            let commentText = replyForm.textContent;
            replyForm.innerHTML= `
                <form method="POST" action="/comments/${comment.dataset.comment_id}/comment_reply_create" class="w-100">
                        {% csrf_token %}
                        <input type="text" class="form-control w-100" name="reply" required/>
                        <input type="hidden" name="comment" value="${comment.dataset.comment_id}" />
                        <input type="hidden" name="project" value="${comment.dataset.project_id}" />
                        <div class="mt-2">
                            <button type="button" onclick="cancelCommentReply(event)" class="btn btn-secondary">Cancel</button>
                            <input class="btn btn-success" type="submit" value="Save" />
                        </div>
                </form>
            `
        })
    });

    function cancelCommentReply(event){
        event.target.parentElement.parentElement.classList.add('d-none')
        document.querySelector(".reply_comment.d-none").classList.remove("d-none");
    }

</script>

{% endblock %}