<!-- Modal -->
<div
    class="modal fade my-5"
    id="{{report_modal_title}}{{report_modal_id}}"
    tabindex="-1"
    aria-labelledby="{{report_modal_title}}{{report_modal_id}}Label"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5
                    class="modal-title text-danger"
                    id="{{report_modal_title}}{{report_modal_id}}Label"
                >
                    Report project😥
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                    method="post"
                    action="{% url 'report_project'  project.id %}"
                >
                    {% csrf_token %}
                    <input
                        type="hidden"
                        name="project"
                        value="{{project_id}}"
                    />
                    <input
                    type="hidden"
                    name="user"
                    value={{user.id}}
                />
                    <label class="text-dark">Enter Your report</label>
                    <textarea class="form-control col-xs-12" name="report"></textarea>

                

            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>

                <input
                type="submit"
                class="btn btn-danger"
                value="Send"
            />


            </form>

            </div>
        </div>
    </div>
</div>
