{% extends 'layouts/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block content %}
<div>
  <h1>List Tags</h1>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Is Verified</th>
        <th scope="col">Project Name</th>
      </tr>
    </thead>
    <tbody>
      {% for tag in tags %}
      <tr>
        <th scope="row">{{tag.id}}</th>
        <td>{{tag.name}}</td>
         {% if tag.is_verified %}
        <td>
          <button class="btn btn-success rounded-pill">Verified</button>
        </td>
        {% else %}
        <td>
          <a class="btn btn-info" href={% url 'verify_tag' tag.id %}>Verify</a>
        </td>
        {% endif %}
        <td>
          <ol>
            {% for project in projects %}
                {% for projectTag in project.tags.all %}
                  {% if tag.name == projectTag.name%}
                      <li>{{project.title}}</li>
                      <!-- <td>{{projectTag.name}}</td> -->
                  {% endif %} 
                {% endfor %} 
            {% endfor %} 
          </ol>
        </td>
      </tr>
      {% empty %}
        <h4 class="text-center w-100"> No Tags </h4>
      {% endfor %}
    </tbody>
  </table>

  {% endblock %} 