{% extends 'layouts/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center my-5">
    <div class="table-responsive w-100">
        <h3 class="text-white my-3">List Projects Donations</h3>
        <table
            class="table table-responsive-md cell-border compact stripe table-light text-center"
        >
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Donation Amount</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Donator Name</th>
                </tr>
            </thead>
            <tbody>
                {% for donation in donations %}
                <tr>
                    <th scope="row">{{donation.id}}</th>
                    <td>{{donation.donation_amount}}</td>
                    <td>{{donation.project.title}}</td>
                    <td>{{donation.donator.username}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    {% endblock %}
</div>
