{% extends 'layouts/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block content %}
<div class="d-flex flex-column justify-content-start align-items-center my-5">
  <h3 class="text-light my-4">Projects reports</h3>

  <table class="table table-responsive-md  cell-border compact stripe table-dark my-4 text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Report</th>
        <th scope="col">Project name</th>
        <th scope="col">User name</th>
 
      </tr>
    </thead>
    <tbody>
{% for report in reports %}
      <tr>
        <th scope="row">{{report.id}}</th>
        <td>{{report.report}}</td>
        <td>{{report.project.title}}</td>
        <td>{{report.user.username}}</td>

      </tr>
{% endfor %}

    </tbody>

  </table>
</div>
{% endblock %}
