{% extends 'layouts/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block content %}
<div class="d-flex flex-column justify-content-start align-items-center my-5">
  <h3 class="text-light my-4">List Tags</h3>

  <table class="table table-responsive-md  cell-border compact stripe table-dark my-4 text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Is Verified</th>
        <th scope="col">Project Name</th>
      </tr>
    </thead>
    <tbody>
      {% for tag in tags %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{tag.name}}</td>
         {% if tag.is_verified %}
        <td>
          <button class="btn btn-success rounded-pill">Verified</button>
        </td>
        {% else %}
        <td>
          <a class="btn btn-info" href={% url 'verify_tag' tag.id %}>Verify</a>
        </td>
        {% endif %}
        <td>
          <ul class="list-unstyled">
            {% for project in projects %}
                {% for projectTag in project.tags.all %}
                  {% if tag.name == projectTag.name%}
                      <li>{{project.title}}</li>
                      <!-- <td>{{projectTag.name}}</td> -->
                  {% endif %} 
                {% endfor %} 
            {% endfor %} 
          </ul>
        </td>
      </tr>
      {% empty %}
        <h4 class="text-center w-100 text-danger"> No Tags </h4>
      {% endfor %}
    </tbody>
  </table>

  {% endblock %} 